body{
	font-family: Arial,Helvetica,sans-serif;
   	margin:0; 
   	padding:0; 
   	border:0 ;
   	}


table {
	border-collapse:collapse;
	
}

table, th, td{
	font-size:small;
	border:solid;
	padding-left:5px;
	padding-right:5px;
	border-width:1px;
	/*border-color:#4d688c;*/
	border-color:gray;
}

.todo{
	color:red;
	font-style:italic;
}


/*Top header / top title bar*/
body.header, #header {
	background-color: white;
 	color: #4d688c;
 	border-bottom: 3px solid gray;
 	font-size:xx-large;
 	padding:0.5em 1em 0.5em 1em;
 	clear:left;
}

/*Header Row*/
header, #header {
	font-size: smaller;
}

/*Navigation bar*/
nav, #nav{
	width:200px; 
	float:left;
	height:600px;
	overflow:scroll;
	border-right: 3px solid gray;	
	color:#4d688c;
	padding-left:5px;
	text-decoration: none;
}

nav h1, #nav h1{
	font-weight:bold;
	font-size:inherit;	
}

nav ul, #nav ul{
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 5px 0px 0px 0px;
	
	
}

nav a, #navLink {
	text-decoration: none;	
	color:#4d688c;
}

/*nav ul a:hover {color: #cc6600; text-decoration: none;}
*/
nav a:hover, #navLink:hover  {
	color:#996633; 
}




/*Content*/
/*Container for ReportSections*/
#ReportSections {
	margin:0;
	margin-left:205px;
	margin-bottom:0;
	padding:0;
	border-left: 3px solid gray;
}

/*Singe Report Definition*/


section .report, .report  {
	border-bottom:1px solid gray;
	padding-left:1em;
	padding-bottom:1em;
	/*padding: 0em 0em 0em 1em;*/
}

.report header, .report #header {
	color:#4d688c;
	font-size: larger;
	padding:1em 0em 1em 0em;
}

		
.report h1{   
  	font-weight:bold;
  	/*color:#9ac137;*/
  	margin:0;
}
	
.report h2, h3, h4, h5{
	color:#4d688c;
}

	
footer, #footer{
	overflow:hidden;
	clear:left;
	margin-top:0;
	padding-left:1em;
	font-size:small;
	color:gray;
	border-top: 3px solid gray;
}
	
